<h4 class="text-center">Calculation Summary</h4>

<table class="table" *ngIf="output">
  <thead class="thead-light">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Mortgage Duration in Years
        <img src = "assets/help-circle-outline.svg" class="icon" data-toggle="tooltip"
        title="The number of payments made during the Term and Amoritization period respectively."/>
      </td>
      <td>{{output.totalYears}}</td>
    </tr>
    <tr>
      <td>
        Number of Payments
        <img src = "assets/help-circle-outline.svg" class="icon" data-toggle="tooltip"
        title="The number of payments made during the Term and Amoritization period respectively."/>
      </td>
      <td>{{output.totalPaymentAmount}}</td>
    </tr>
    <tr>
      <td>
        Interest payment
        <img src = "assets/help-circle-outline.svg" class="icon" data-toggle="tooltip"
        title="Total of all interest paid during the Term and Amoritization period respectively, assuming that the conditions of your loan (e.g. interest rate, amortization period, term, etc.) will not change during these periods. This total interest amount also assumes that there are no prepayments of principal."/>
      </td>
      <td>{{output.interest| currency : 'USD' : 'symbol' : '1.1-2' }}</td>
    </tr>
    <tr>
      <td>
        Average Mortgage payment
        <img src = "assets/help-circle-outline.svg" class="icon" data-toggle="tooltip"
        title="The amount you will pay per period during the Term and Amoritization respectively, which include a portion for the principal payment and a portion for the interest payment."/>
      </td>
      <td>{{output.averageAmortizePayment| currency : 'USD' : 'symbol' : '1.1-2' }}</td>
    </tr>
    <tr>
      <td>
        Total amount
        <img src = "assets/help-circle-outline.svg" class="icon" data-toggle="tooltip"
        title="Total of all payments made during the Term and Amoritization period respectively, assuming that the conditions of your loan (e.g. interest rate, amortization period, term, etc.) will not change during these periods. It is also assumed that there are no prepayments of principal."/>
      </td>
      <td>{{output.totalAmount| currency : 'USD' : 'symbol' : '1.1-2' }}</td>
    </tr>
  </tbody>
</table>