<h4 class="text-center">Calculation Summary</h4>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Term</th>
      <th scope="col">Amortization Period</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Number of Payments
        <img src = "assets/help-circle-outline.svg" class="icon" data-toggle="tooltip"
        title="The number of payments made during the Term and Amoritization period respectively."/>
      </td>
      <td>60</td>
      <td>300</td>
    </tr>
    <tr>
      <td>
        Mortgage Payment
        <img src = "assets/help-circle-outline.svg" class="icon" data-toggle="tooltip"
        title="The amount you will pay per period during the Term and Amoritization respectively, which include a portion for the principal payment and a portion for the interest payment."/>
      </td>
      <td>$1,163.21</td>
      <td>$1,163.21</td>
    </tr>
    <tr>
      <td>
        Prepayment
        <img src = "assets/help-circle-outline.svg" class="icon" data-toggle="tooltip"
        title="The amount of prepayment made during the Term and Amoritization period respectively."/>
      </td>
      <td>$0.00</td>
      <td>$0.00</td>
    </tr>
    <tr>
      <td>
        Principal Payments
        <img src = "assets/help-circle-outline.svg" class="icon" data-toggle="tooltip"
        title="The total amount of principal payment made during the Term and Amoritization period respectively."/>
      </td>
      <td>$22,984.99</td>
      <td>$200,000.00</td>
    </tr>
    <tr>
      <td>
        Interest Payments
        <img src = "assets/help-circle-outline.svg" class="icon" data-toggle="tooltip"
        title="Total of all interest paid during the Term and Amoritization period respectively, assuming that the conditions of your loan (e.g. interest rate, amortization period, term, etc.) will not change during these periods. This total interest amount also assumes that there are no prepayments of principal."/>
      </td>
      <td>$46,807.61</td>
      <td>$148,962.99</td>
    </tr>
    <tr>
      <td>
        Total Cost
        <img src = "assets/help-circle-outline.svg" class="icon" data-toggle="tooltip"
        title="Total of all payments made during the Term and Amoritization period respectively, assuming that the conditions of your loan (e.g. interest rate, amortization period, term, etc.) will not change during these periods. It is also assumed that there are no prepayments of principal."/>
      </td>
      <td>$69,792.60	</td>
      <td>$348,962.99</td>
    </tr>
  </tbody>
</table>